#dex-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 80vh
}

.poke-container{
  display:flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(180deg, rgba(227,38,20,1) 0%, rgba(227,38,20,1) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
  border-radius: 50%;
  border: solid 2px black;
  padding: 1rem 1.4rem;
}

.poke-container a{
  cursor: help;
}

footer, header, #button-container{
  text-align: center;
}

#button-container {
  margin-bottom: 20px;
}

#button-container button{
  padding: 10px;
  width: 20rem;
  background-color: rgb(227,38,20);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid black;
}